@mixin settings {
  a {
    text-decoration: underline;
  }
  .center-label label {
    text-align: center;
    span {
      float: left;
    }
  }
  .code {
    background-color: #adbed67a;
    border-radius: 3px;
    font-family: monospace;
    padding: 0 3px 0 3px;
  }
  .delete-setting-button {
    margin-left: 5px;
  }
  .description-container {
    overflow-wrap: break-word;
    .el-form-item__content {
      line-height: 20px;
    }
  }
  .divider {
    margin: 0 0 18px 0;
  }
  .divider.thick-line {
    height: 2px;
  }
  .docs-search-container {
    float: right;
    margin-right: 30px;
  }
  .editable-keyword-container {
    width: 100%;
  }
  .el-form-item .rate-limit {
    margin-right: 0;
  }
  .el-input-group__prepend {
    padding-left: 10px;
    padding-right: 10px;
  }
  .el-tabs__header {
    z-index: 2002;
  }
  .esshd-list {
    margin: 0;
  }
  .expl, .expl > p {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    margin: 5px 0 0 0;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    code {
      display: inline;
      line-height: 22px;
      font-size: 13px;
      padding: 2px 3px;
    }
  }
  .follow-relay {
    width: 350px;
    margin-right: 7px;
  }
  .form-container {
    margin-bottom: 80px;
  }
  .grouped-settings-header {
    margin: 0 0 14px 0;
  }
  .highlight {
  background-color: #e6e6e6;
  }
  .icons-button-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .icons-button-desc {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    margin-left: 5px;
  }
  .icon-container {
    flex-direction: column;
    width: 95%;
  }
  .icon-values-container {
    display: flex;
    margin: 0 10px 10px 0;
  }
  .icon-key-input {
    width: 30%;
    margin-right: 8px
  }
  .icon-minus-button {
    width: 36px;
    height: 36px;
  }
  .icon-value-input {
    width: 70%;
    margin-left: 8px;
  }
  .icons-container {
    display: flex;
  }
  .input-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .el-form-item {
      margin-right: 30px;
      width: 100%
    }
    .el-select {
      width: 100%;
    }
  }
  .keyword-container {
    width: 100%
  }
  label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .label-font {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
  }
  .limit-button-container {
    display: flex;
    align-items: baseline;
  }
  .limit-expl {
    margin-left: 10px;
  }
  .limit-input {
    width: 47%;
    margin: 0 0 5px 1%
  }
  .line {
    width: 100%;
    height: 0;
    border: 1px solid #eee;
    margin-bottom: 18px;
  }
  .mascot {
    margin-bottom: 15px;
  }
  .mascot-container {
    width: 100%;
  }
  .mascot-input {
    margin-bottom: 7px;
  }
  .mascot-name-container {
    display: flex;
    margin-bottom: 7px;
  }
  .mascot-name-input {
    margin-right: 10px
  }
  .multiple-select-container {
    width: 100%;
  }
  .name-input {
    width: 30%;
    margin-right: 8px
  }
  .no-top-margin {
    margin-top: 0;
    p {
      margin-right: 30px;
    }
  }
  .pattern-input {
    width: 20%;
    margin-right: 8px
  }
  .proxy-url-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  .proxy-url-host-input {
    width: 35%;
    margin-right: 8px
  }
  .proxy-url-value-input {
    width: 35%;
    margin-left: 8px;
    margin-right: 10px
  }
  .prune-options {
    display: flex;
    height: 36px;
    align-items: baseline;
    .el-radio {
      margin-top: 11px;
    }
  }
  .rate-limit {
    .el-form-item__content {
      width: 100%;
      display: flex;
    }
  }
  .rate-limit-container {
    width: 100%;
  }
  .rate-limit-content {
    width: 70%;
  }
  .rate-limit-label {
    float: right;
  }
  .rate-limit-label-container {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    height: fit-content;
    width: 30%;
    margin-right: 10px;
  }
  .reboot-button {
    width: 145px;
    text-align: left;
    padding: 10px;
    float: right;
    margin: 0 30px 0 0;
  }
  .reboot-button-container {
    width: 100%;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 2000;
  }
  .relays-container {
    margin: 0 15px;
  }
  .replacement-input {
    width: 80%;
    margin-left: 8px;
    margin-right: 10px
  }
  .scale-input {
    width: 47%;
    margin: 0 1% 5px 0
  }
  .setting-input {
    display: flex;
    margin-bottom: 10px;
  }
  .setting-label {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 14px 0;
  }
  .settings-container {
    max-width: 1824px;
    margin: auto;
    .el-tabs {
      margin-top: 20px
    }
  }
  .settings-delete-button {
    margin-left: 5px;
  }
  .settings-docs-button {
    width: 163px;
    text-align: left;
    padding: 10px;
  }
  .settings-header {
    margin: 10px 15px 15px 15px;
  }
  .header-sidebar-opened {
    max-width: 1585px;
  }
  .header-sidebar-closed {
    max-width: 1728px;
  }
  .settings-header-container {
    height: 87px;
  }
  .settings-search-input {
    width: 350px;
    margin-left: 5px;
  }
  .single-input {
    margin-right: 10px
  }
  .socks5-checkbox {
    font-size: 14px;
    color: #606266;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    font-weight: 700;
    margin-left: 10px;
  }
  .socks5-checkbox-container {
    width: 40%;
    height: 36px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
  .ssl-tls-opts {
    margin: 36px 0 0 0;
  }
  .submit-button {
    float: right;
    margin: 0 30px 22px 0;
  }
  .submit-button-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 2000;
  }
  .switch-input {
    height: 36px;
  }
  .text {
    line-height: 20px;
    margin-right: 15px
  }
  .upload-container {
    display: flex;
    align-items: baseline;
  }
  .value-input {
    width: 70%;
    margin-left: 8px;
    margin-right: 10px
  }

  @media only screen and (min-width: 1824px) {
    .header-sidebar-closed {
      max-width: 1772px;
    }
    .header-sidebar-opened {
      max-width: 1630px;
    }
    .reboot-button-container {
      width: 100%;
      max-width: inherit;
      margin-left: auto;
      margin-right: auto;
      right: auto;
    }
    .reboot-sidebar-opened {
      max-width: 1630px;
    }
    .reboot-sidebar-closed {
      max-width: 1772px;
    }
    .sidebar-closed {
      max-width: 1586px;
    }
    .sidebar-opened {
      max-width: 1442px;
    }
    .submit-button-container {
      width: 100%;
      max-width: inherit;
      margin-left: auto;
      margin-right: auto;
      right: auto;
    }
  }

  @media only screen and (max-width:480px) {
    .crontab {
      width: 100%;
      label {
        width: 100%;
      }
    }
    .delete-setting-button {
      margin: 4px 0 0 5px;
      height: 28px;
    }
    .delete-setting-button-container {
      flex: 0 0 auto;
    }
    .description > p {
      line-height: 18px;
      margin: 0 5px 7px 15px;
      code {
        display: inline;
        line-height: 18px;
        padding: 2px 3px;
        font-size: 14px;
      }
    }
    .description-container {
      margin: 0 15px 22px 15px;
    }
    .divider {
      margin: 0 0 10px 0;
    }
    .divider .thick-line {
      height: 2px;
    }
    .follow-relay {
      width: 70%;
      margin-right: 5px;
      input {
        width: 100%;
      }
    }
    .follow-relay-container {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      font-size: 24px;
    }
    .input {
      flex: 1 1 auto;
    }
    .input-container {
      width: 100%;
      .el-form-item:first-child {
        margin: 0;
        padding: 0 15px 10px 15px;
      }
      .el-form-item.crontab-container:first-child {
        margin: 0;
        padding: 0 ;
      }
      .el-form-item:first-child .mascot-form-item {
        padding: 0;
      }
      .el-form-item:first-child .rate-limit {
        padding: 0;
      }
      .settings-delete-button {
        margin-top: 4px;
        float: right;
      }
    }
    .input-row {
      display: flex;
      justify-content: space-between;
    }
    .label-with-margin {
      margin-left: 15px;
    }
    .limit-input {
      width: 45%;
    }
    .nav-container {
      display: flex;
      height: 36px;
      justify-content: space-between;
      align-items: center;
      margin: 15px;
    }
    .proxy-url-input {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }
    .proxy-url-host-input {
      width: 100%;
      margin-bottom: 5px;
    }
    .proxy-url-value-input {
      width: 100%;
      margin-left: 0;
    }
    .prune-options {
      flex-direction: column;
      height: 80px;
    }
    .rate-limit {
      .el-form-item__content {
        flex-direction: column;
      }
    }
    .rate-limit-content {
      width: 100%;
    }
    .rate-limit-label {
      float: left;
    }
    .rate-limit-label-container {
      width: 100%;
    }
    .reboot-button {
      margin: 0 15px 0 0;
    }
    .reboot-button-container {
      top: 57px;
    }
    .scale-input {
      width: 45%;
    }
    .settings-header {
      width: fit-content;
      display: inline-block;
      margin: 10px 15px 15px 15px;
    }
    .docs-search-container {
      float: right;
    }
    .settings-search-input {
      width: 100%;
      margin-left: 0;
    }
    .settings-search-input-container {
      margin: 0 15px 15px 15px;
    }
    .settings-menu {
      width: 163px;
      margin-right: 5px;
    }
    .socks5-checkbox-container {
      width: 100%;
    }
    .submit-button {
      margin: 0 15px 22px 0;
    }
    .el-input__inner {
    padding: 0 5px 0 5px
    }
    .el-form-item__label:not(.no-top-margin) {
      padding-bottom: 5px;
      line-height: 22px;
      margin-top: 7px;
      width: 100%;
      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
    .el-message {
      min-width: 80%;
    }
    .el-select__tags {
      overflow: hidden;
    }
    .expl, .expl > p {
      line-height: 16px;
    }
    .icon-key-input {
      width: 40%;
      margin-right: 4px
    }
    .icon-minus-button {
      width: 28px;
      height: 28px;
      margin-top: 4px;
    }
    .icon-values-container {
      margin: 0 7px 7px 0;
    }
    .icon-value-input {
      width: 60%;
      margin-left: 4px;
    }
    .icons-button-container {
      line-height: 24px;
    }
    .line {
      margin-bottom: 10px;
    }
    .mascot-form-item {
      .el-form-item__label:not(.no-top-margin) {
        margin: 0;
        padding: 0;
      }
    }
    .mascot-container {
      margin-bottom: 5px;
    }
    .name-input {
      width: 40%;
      margin-right: 5px
    }
    p.expl {
      line-height: 20px;
    }
    .pattern-input {
      width: 40%;
      margin-right: 4px
    }
    .relays-container {
      margin: 0 10px;
    }
    .replacement-input {
      width: 60%;
      margin-left: 4px;
      margin-right: 5px
    }
    .settings-header-container {
      height: 45px;
    }
    .value-input {
      width: 60%;
      margin-left: 5px;
      margin-right: 8px
    }
  }
  @media only screen and (max-width:818px) and (min-width: 481px) {
    .delete-setting-button {
      margin: 4px 0 0 10px;
      height: 28px;
    }
    .delete-setting-button-container {
      flex: 0 0 auto;
    }
    .description > p {
      line-height: 18px;
      margin: 0 15px 10px 0;
    }
    .icon-minus-button {
      width: 28px;
      height: 28px;
      margin-top: 4px;
    }
    .input {
      flex: 1 1 auto;
    }
    .input-container {
      .el-form-item__label {
        span {
          margin-left: 10px;
        }
      }
    }
    .input-row {
      display: flex;
      justify-content: space-between;
    }
    .nav-container {
      display: flex;
      height: 36px;
      justify-content: space-between;
      align-items: center;
      margin: 15px 30px 15px 15px;
    }
    .rate-limit-content {
      width: 65%;
    }
    .rate-limit-label-container {
      width: 35%;
    }
    .settings-delete-button {
      float: right;
    }
    .settings-header-container {
      height: 36px;
    }
    .settings-search-input {
      width: 250px;
      margin: 0 0 15px 15px;
    }
  }
}
